/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #07050a, #190087);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.6;
}

h1, h2, h3 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    line-height: 1.2;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 20px;
}

nav ul li a:hover {
    color: #007BFF;
}

/* Welcome Section */
.welcome-section {
    background-image: url('/static/b3.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 0;
}

.text-content {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* Artists Grid */
.artists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.artist-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
    color: #333;
    transition: transform 0.3s;
}

.artist-card img {
    width: 50%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.artist-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.artist-card p {
    margin: 10px 0;
}

.artist-card p {
    margin: 10px 0;
}

/* Concert Table Styles */
.concert-table {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}

.concert-table table {
    width: 100%;
    border-collapse: collapse;
}

.concert-table th, .concert-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.concert-table th {
    background-color: #007BFF;
    color: white;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .artists-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    body {
        font-size: 1.2rem;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
