<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists Information</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1>{{.Name}}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <section class="artist-details">
        <h2>{{.Name}}</h2>
        <div class="artist-card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
            <p><strong>Members:</strong> {{range .Members}}{{.}}, {{end}}</p>


            <a href="/artist/relations/{{.ID}}" class="artist-relations link">
               <button><strong>Relations</strong></button></a>
               
               <a href="/artist/dates//{{.ID}}" class="artist-dates link">
                <button><strong>Dates</strong></button></a>
                
                <a href="/artist/locations/{{.ID}}" class="artist-locations link">
                    <button><strong>Locations</strong></button></a>
    <a href="/"><button>Back to Artists</button></a>
        </div>
    </section>
    
    <footer class="footer">
        <p>&copy; 2024 Groupie-Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
