<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dates</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Dates</h1>
    </header>
    <div class="container">
        <section id="dates">
            <ul class="list">
                {{with index . 	"https://groupietrackers.herokuapp.com/api/dates"}}
                {{range .}}
                <li class="list-item">
                    <p><strong>Dates:</strong></p>
                    <ul>
                        {{range .Dates}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{end}}
                {{else}}
                <li class="list-item">No dates data available.</li>
                {{end}}
            </ul>
        </section>
    </div>
</body>
</html>
