<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{.Code}} - {{.Message}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="error-page">
    <header class="header">
        <h1><i class="fas fa-exclamation-circle"></i> Error {{.Code}}</h1>
        <a href="/" class="home-button" title="Home">
            <i class="fas fa-home"></i>
        </a>
    </header>

    <section class="error-section">
        <h2>{{.Message}}</h2>
        <p>{{.Description}}</p>
        <a href="/" class="btn">
            <i class="fas fa-home"></i> Back to Home
        </a>
    </section>

    
    <footer class="footer">
        <p><i class="far fa-copyright"></i> 2024 Groupie-Tracker. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/garveyshah" target="_blank" aria-label="Ouma's GitHub Profile"><i class="fab fa-github"></i> Ouma</a>
            <a href="https://github.com/steodhiambo" target="_blank" aria-label="Steve's GitHub Profile"><i class="fab fa-github"></i> Stephen</a>
        </div>
    </footer>
</body>
</html>
