<!DOCTYPE html>
<html>
<head>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Groupie Tracker</h1>
    <nav>
        <ul>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/dates">Dates</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/relations">Relations</a></li>
    </ul>
</nav>
<h2>Welocome to your new music industry homepage</h2>
    <p>Groupie Tracker is your go-to platform for discovering information about artists and bands from around the world. Our website provides in-depth insights into the world music by offering datails about artists, their concert locations, tour dates, and much more.Whether you're a fan looking to follow your favorite band's journey or simply curious about upcoming events, Groupie Tracker has you coverd.</p>

<h2>Key Features:</h2>
<h3>1. Explore Artists:</h3>
<li><p>Dive inot detailed profiles of artists and bands, including their <b>names</b>, <b>members</b>, and the <b>year they began their journey in the music industry</b>. Learn about their evolution, their <b>first album release</b>, and significant milestones in their careers.</p></li>

<h3>Subsection 1.1</h3>
<p>Content for Subsection 1.1</p>
</body>
<footer class="footer">
    <p>&copy; 2024 Groupie-Tracker. All rights reserverd.</p>
</footer>
</html>
