<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="homepage">
    <header class="header">
    </header>
    <h1>Groupie Tracker</h1>
    <nav>
        <ul>
            <!-- <li><a href="/homepage">Home</a></li> -->
            <li><a href="/artists">Artists</a></li>
            <li><a href="/dates">Dates</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/relations">Relations</a></li>
        </ul>
    </nav>

    <div class="text-content">
        <h2>Welcome to Your Music Industry Homepage</h2>
        <button>View Artists</button>
    </div>
   

    <footer class="footer">
        <p>&copy; 2024 Groupie-Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
