<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Locations</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Tour Locations</h1>
    <table class="tour-table">
        <thead>
            <tr>
                <th>Tour ID</th>
                <th>Locations</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{.ID}}</td>
            <td>
                <ul>
                    {{range .Locations}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
