<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Dates and Locations Information</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Tour Dates and Locations Information</h1>
    <div class="tour-grid">
        {{range .Index}}
        <div class="tour-card">
            <h2>Tour ID: {{.ID}}</h2>
            <ul>
                {{range $location, $dates := .DatesLocations}}
                <li>{{ $location }}
                    <ul>
                        {{range $dates}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </div>
        {{end}}
    </div>
</body>
</html>
