<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Dates and Locations</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1>Tour Dates and Locations</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="tour-info">
        <table class="tour-dates-table">
            <thead>
                <tr>
                    <th>Tour ID</th>
                    <th>Location</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.ID}}</td>
                    <td>
                        <ul>
                            {{range $location, $dates := .DatesLocations}}
                            <li>{{ $location }}</li>
                            {{end}}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {{range $location, $dates := .DatesLocations}}
                            <li>
                                <ul>
                                    {{range $dates}}
                                    <li>{{.}}</li>
                                    {{end}}
                                </ul>
                            </li>
                            {{end}}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <footer class="footer">
        <p>&copy; 2024 Groupie-Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
